<!DOCTYPE html>
<html lang="en">

<!-- Head contains metadata, links to files and name on tab -->
<head>
  <meta charset="UTF-8">
  <title>CK-FPL Team</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/fpl.css">

</head>

<!-- Start of website visuals -->
<body>
    <!-- Start of Navbar -->
  <nav class="navbar navbar-expand-lg cknavbar">
    <!-- Boostrap classes will automatically format. href links back to Index.html page -->
    <a class="navbar-brand" href="/home">Alternative FPL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- The below div creates a collapsed Nav bar on smaller screens with bootstrap classes -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar list of menu items -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <!-- Home linked to index.html file. -->
          <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
        </li>
        <!-- 2nd list item "My Team"-->
        <!-- <li class="nav-item">
          <a class="nav-link" href="My_Team.html">My Team</a>
        </li> -->
        <!-- 3rd item is a dropdown. This then contains a list of menus - not yet in use -->
        <li class="nav-item dropdown">
            <!-- Dropdown is presented as a link (<a> tag) -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Teams
          </a>
          <!-- List within dropdown -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/onamadone">On Amad One</a>
            <a class="dropdown-item" href="/haa-haa-land">Haa-Haa-Land</a>
            <div class="dropdown-divider" style = "border-color: #00ff87";></div>
            <a class="dropdown-item" href="./Comparison.html">Comparison</a>
          </div>
        </li>
        <!-- This bit of code is for a disabled menu item. Not in use but may be useful in future.

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>

      <!-- THis is for a search bar. Not enough information at present to need this but may be usefull in future.

        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->

    </div>
  </nav>

<!-- End of Nav Bar -->

  <div class="container">
    <!-- <div class="jumbotron"> -->
      <h1 class="justify-content-around text-center" style="padding-top: 4%;">{{team_name}}</h1>
      <p class="lead">This is placed inside a container</p>
      <hr class="my-4">
      <p>Here we can display some more text!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <!-- </div> -->
  </div>

<div class="container">
  <h3 class="text-center">Players</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">POS.</th>
        <th scope="col">Player</th>
        <th scope="col">FORM</th>
        <th scope="col">PTS</th>
        <th scope="col">xGI</th>
        <th scope="col">xGC</th>
        <th scope="col">COST</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">SUB</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">SUB</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">SUB</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">SUB</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col">
        <h3 class="text-center">List Groups</h3>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio <span class="badge badge-pill badge-secondary">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio <span class="badge badge-pill badge-secondary">3</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio <span class="badge badge-pill badge-secondary">4</span>
          </li>
        </ul>
    </div>
  </div>


    <div class="row">
      <div class="col">

        <h3 class="text-center">Cards</h3>
        
        <div class="row justify-content-between">

        <div class="card col-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Most Recent Captain</h5>
              <p class="card-text">Player name and total points to be input here.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div class="card col-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Most Picked Captain</h5>
            <p class="card-text">Player name and total points to be input here.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        <div class="card col-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Total Points From Captain Picks:</h5>
            <p class="card-text">Number</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>
    </div>
    </div>


  <div class="row">
    <div class="col">
      <h3 class="text-center">Nav Tabs</h3>
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
  </div>

    <div class="row">
      <div class="col">
        <h3 class="text-center">Nav Pills</h3>
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
    </div>


    <div class="row">
      <div class="col">
        <h3 class="text-center">Alerts</h3>
        <div class="alert alert-primary" role="alert">
            Info Alert
          </div>
          <div class="alert alert-success" role="alert">
            Success Alert
          </div>
          <div class="alert alert-danger" role="alert">
            Danger Alert
          </div>
          <div class="alert alert-warning" role="alert">
            Warning Alert
          </div>
        </div>
    </div>


    <div class="row">
      <div class="col">
        <h3 class="text-center">Progress Bar</h3>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                50%
              </div>
          </div>
      </div>
    </div>

    <h3 class="text-center">Buttons</h3>
    <div class="row">

      <button type="button" class="btn btn-default">Default Button</button>
      <button type="button" class="btn btn-primary">Primary Button</button>
      <button type="button" class="btn btn-danger">Danger Button</button>
      <button type="button" class="btn btn-info">Info Button</button>
      <button type="button" class="btn btn-warning">Warning Button</button>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>